# Gradle
.gradle/
**/build/
!src/**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

# Local configuration
local.properties
*.properties
!gradle.properties

# IDE
.idea/
**/.idea/
*.iml
*.ipr
*.iws
.vscode/
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

# Keystore
*.jks
*.keystore
keystore.properties
signing.properties

# Logs
*.log